{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}
  {% include "./nav.html" %}
<div class="container-fluid">
  <h1>Shopping Cart</h1>

  {% for animal in cart %}

  
    <div class="row">
      <div class="col-md-3">
        <img class="img-responsive" src="{{animal.image}}" alt="{{animal.name}} image">
      </div>
      <div class="col-md-6">
        <p>Name: {{animal.name}}</p>
        <p>Price: {{animal.price}}</p>
        <p>Quantity: {{animal.quantity}}</p>
        <p>Total: {{animal.total}}</p>
      </div>
    </div>
    <br>

  {% endfor %}
  
    <div class="row">
      <div class="col-md-4 pull-right">
        <h2>Order Total: {{ grandTotal[0].sum }}<h2>
      </div>  
    </div>
  
  </div>
  <br>

  {% include "./footer.html" %}

{% endblock %}