{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}
  {% include "./nav.html" %}

  <div class="container">

<div class="container">
    <div class="row">
  	  <h2 class="col-md-3">Checkout!</h2>
    </div>


  	  <div class="row">
  		  <h3>Your Purchase:</h3>
        <div id="receipt">

        </div>
      </div>


    <form action="/checkout" method="POST">
      <h3>Billing Information</h3>
      <div class="form-group row">
        <div class="col-md-4">
          <label class="control-label" for="firstNameBilling">First Name</label>
           <input type="text" class="form-control" name="firstName" id="firstNameBilling" enabled="" placeholder="First Name">
        </div>
        <div class="col-md-4">
          <label class="control-label" for="lastNameBilling">Last Name</label>
          <input type="text" class="form-control" name="lastName" id="lastNameBilling" enabled="" placeholder="Last Name">
        </div>
        <div class="col-md-4">
          <label class="control-label" for="emailBilling">Email</label>
           <input type="email" class="form-control" name="email" id="emailBilling" enabled="" placeholder="Email">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-6">
          <label class="control-label" for="addressBilling">Billing Address</label>
          <input type="text" class="form-control" name="addressBilling" id="addressBilling" enabled="" placeholder="Billing Address">
        </div>
        <div class="col-md-6">
          <label class="control-label" for="cityBilling">Billing City</label>
          <input type="text" class="form-control" name="cityBilling" id="cityBilling" enabled="" placeholder="Billing City">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-4">
          <label class="control-label" for="stateBilling">Billing State</label>
          <select name="state" class="form-control" id="stateBilling" enabled="">
            <option value="">Choose</option>
            <option value="AL">AL</option>
            <option value="AK">AK</option>
            <option value="AZ">AZ</option>
            <option value="AR">AR</option>
            <option value="CA">CA</option>
            <option value="CO">CO</option>
            <option value="CT">CT</option>
            <option value="DE">DE</option>
            <option value="DC">DC</option>
            <option value="FL">FL</option>
            <option value="GA">GA</option>
            <option value="HI">HI</option>
            <option value="ID">ID</option>
            <option value="IL">IL</option>
            <option value="IN">IN</option>
            <option value="IA">IA</option>
            <option value="KS">KS</option>
            <option value="KY">KY</option>
            <option value="LA">LA</option>
            <option value="ME">ME</option>
            <option value="MD">MD</option>
            <option value="MA">MA</option>
            <option value="MI">MI</option>
            <option value="MN">MN</option>
            <option value="MS">MS</option>
            <option value="MO">MO</option>
            <option value="MT">MT</option>
            <option value="NE">NE</option>
            <option value="NV">NV</option>
            <option value="NH">NH</option>
            <option value="NJ">NJ</option>
            <option value="NM">NM</option>
            <option value="NY">NY</option>
            <option value="NC">NC</option>
            <option value="ND">ND</option>
            <option value="OH">OH</option>
            <option value="OK">OK</option>
            <option value="OR">OR</option>
            <option value="PA">PA</option>
            <option value="RI">RI</option>
            <option value="SC">SC</option>
            <option value="SD">SD</option>
            <option value="TN">TN</option>
            <option value="TX">TX</option>
            <option value="UT">UT</option>
            <option value="VT">VT</option>
            <option value="VA">VA</option>
            <option value="WA">WA</option>
            <option value="WV">WV</option>
            <option value="WI">WI</option>
            <option value="WY">WY</option>
          </select>
        </div>
        <div class="col-md-4">
          <label class="control-label" for="zipCodeBilling">Billing Zip Code</label>
          <input type="text" class="form-control" name="zipCodeBilling" id="zipCodeBilling" enabled="" placeholder="Billing Zip Code">
        </div>
        <div class="col-md-4">
          <br><br>
            <input type="checkbox" id="sameAsBilling" value="">Shipping Address Same As Billing?
        </div>
      </div>

      <div>&nbsp;</div>
      <div id="shipping-info">
      <h3>Shipping Information</h3>
      <div class="form-group row">
        <div class="col-md-4">
          <label class="control-label" for="firstNameShipping">First Name</label>
          <input type="text" class="form-control" id="firstNameShipping" placeholder="First Name">
        </div>
        <div class="col-md-4">
          <label class="control-label" for="lastNameShipping">Last Name</label>
          <input type="text" class="form-control" id="lastNameShipping" placeholder="Last Name">
        </div>
        <div class="col-md-4">
          <label class="control-label" for="emailShipping">Email</label>
          <input type="email" class="form-control" id="emailShipping" placeholder="Email">
        </div>
      </div>
      <div class="form-group row">
  	    <div class="col-md-6">
          <label class="control-label" for="addressShipping">Address</label>
          <input type="text" class="form-control" id="addressShipping" placeholder="Address">
        </div>
        <div class="col-md-6">
          <label class="control-label" for="cityShipping">City</label>
          <input type="text" class="form-control" id="cityShipping" placeholder="City">
        </div>
      </div>
      <div class="form-group row">
  	    <div class="col-md-4">
      	  <label class="control-label" for="stateShipping">State</label>
          <select name="state" class="form-control" enabled="" id="stateShipping">
            <option value="">Choose</option>
            <option value="AL">AL</option>
            <option value="AK">AK</option>
            <option value="AZ">AZ</option>
            <option value="AR">AR</option>
            <option value="CA">CA</option>
            <option value="CO">CO</option>
            <option value="CT">CT</option>
            <option value="DE">DE</option>
            <option value="DC">DC</option>
            <option value="FL">FL</option>
            <option value="GA">GA</option>
            <option value="HI">HI</option>
            <option value="ID">ID</option>
            <option value="IL">IL</option>
            <option value="IN">IN</option>
            <option value="IA">IA</option>
            <option value="KS">KS</option>
            <option value="KY">KY</option>
            <option value="LA">LA</option>
            <option value="ME">ME</option>
            <option value="MD">MD</option>
            <option value="MA">MA</option>
            <option value="MI">MI</option>
            <option value="MN">MN</option>
            <option value="MS">MS</option>
            <option value="MO">MO</option>
            <option value="MT">MT</option>
            <option value="NE">NE</option>
            <option value="NV">NV</option>
            <option value="NH">NH</option>
            <option value="NJ">NJ</option>
            <option value="NM">NM</option>
            <option value="NY">NY</option>
            <option value="NC">NC</option>
            <option value="ND">ND</option>
            <option value="OH">OH</option>
            <option value="OK">OK</option>
            <option value="OR">OR</option>
            <option value="PA">PA</option>
            <option value="RI">RI</option>
            <option value="SC">SC</option>
            <option value="SD">SD</option>
            <option value="TN">TN</option>
            <option value="TX">TX</option>
            <option value="UT">UT</option>
            <option value="VT">VT</option>
            <option value="VA">VA</option>
            <option value="WA">WA</option>
            <option value="WV">WV</option>
            <option value="WI">WI</option>
            <option value="WY">WY</option>
          </select>
        </div>
        <div class="col-md-4">
      	  <label class="control-label" for="zipCodeShipping">Zip Code</label>
          <input type="text" class="form-control" id="zipCodeShipping" placeholder="Zip Code">
        </div>
      </div>
      </div>

  </div>

  {% include "./footer.html" %}

{% endblock %}
