<div class="row"> <!-- footer -->
    <div class="col-md-3">
      <h3 class="text-center">Visit Us</h3>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3067.57098375463!2d-104.95279454947168!3d39.749286803783825!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x876c794e20258f71%3A0x53fd0ed23d876c29!2sDenver+Zoo!5e0!3m2!1sen!2sus!4v1457399482418" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      <!-- <img class="img-responsive center-block" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4d/Cat_March_2010-1.jpg/220px-Cat_March_2010-1.jpg" alt="zootopia"/> -->
    </div>
    <div class="col-md-3">
      <h3 class="text-center">Resources</h3>
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span> <a href="#">Item One</a> <br>
        <span class="glyphicon glyphicon-headphones" aria-hidden="true"></span> <a href="#">Item Two</a> <br>
        <span class="glyphicon glyphicon-music" aria-hidden="true"></span> <a href="#">Item Three</a> <br>
        <span class="glyphicon glyphicon-signal" aria-hidden="true"></span> <a href="#">Item Four</a>
    </div>
    <div class="col-md-3">
      <h3 class="text-center">Section</h3>
      <ul>
        <li><a href="#">Item One</a></li>
        <li><a href="#">Item Two</a></li>
        <li><a href="#">Item Three</a></li>
        <li><a href="#">Item Four</a></li>
      </ul>
    </div>
    <div class="col-md-3">
      <h3 class="text-center">Section</h3>
      <ul>
        <li><a href="#">Item One</a></li>
        <li><a href="#">Item Two</a></li>
        <li><a href="#">Item Three</a></li>
        <li><a href="#">Item Four</a></li>
      </ul>
    </div>
  </div>
