<div class="row"> <!-- footer -->
    <div class="col-md-3">
      <h3 class="text-center">Visit Us</h3>
      <img class="img-responsive center-block" src="images/map.png" alt="zootopia"/>
    </div>
    <div class="col-md-3">
      <h3 class="text-center">Resources</h3>
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span> <a href="#">Item One</a> <br>
        <span class="glyphicon glyphicon-headphones" aria-hidden="true"></span> <a href="#">Item Two</a> <br>
        <span class="glyphicon glyphicon-music" aria-hidden="true"></span> <a href="#">Item Three</a> <br>
        <span class="glyphicon glyphicon-signal" aria-hidden="true"></span> <a href="#">Item Four</a>
    </div>
    <div class="col-md-3">
      <h3 class="text-center">Section</h3>
      <ul>
        <li><a href="#">Item One</a></li>
        <li><a href="#">Item Two</a></li>
        <li><a href="#">Item Three</a></li>
        <li><a href="#">Item Four</a></li>
      </ul>
    </div>
    <div class="col-md-3">
      <h3 class="text-center">Section</h3>
      <ul>
        <li><a href="#">Item One</a></li>
        <li><a href="#">Item Two</a></li>
        <li><a href="#">Item Three</a></li>
        <li><a href="#">Item Four</a></li>
      </ul>
    </div>
  </div>
